workflows/2UqdKEd4Cd5f8Xpa-gmail-auto-label-with-openai.json
{
  "createdAt": "2025-07-01T18:11:44.683Z",
  "updatedAt": "2025-09-29T17:14:26.157Z",
  "id": "2UqdKEd4Cd5f8Xpa",
  "name": "Gmail_Auto_Label with OpenAI",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "filters": {}
      },
      "id": "5b01af5d-1f3c-4220-a35a-e488747b2685",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -928,
        480
      ],
      "typeVersion": 1.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "xqOTurRpHtoW4yz8",
          "name": "JVX Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 4096
        }
      },
      "id": "ac233a22-a194-4262-8b8b-43a55580272c",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -784,
        688
      ],
      "notesInFlow": false,
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "FGduNFSxLzm7OQQE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tool to read all existing gmail labels",
        "resource": "label",
        "returnAll": true
      },
      "id": "5d06fcef-1893-4eac-9649-3580933d2c1d",
      "name": "Gmail - read labels",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -480,
        704
      ],
      "webhookId": "d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "xqOTurRpHtoW4yz8",
          "name": "JVX Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tool to read a specific message based on the message ID",
        "operation": "get",
        "messageId": "={{ $fromAI('gmail_message_id', 'id of the gmail message, like 1944fdc33f544369', 'string') }}"
      },
      "id": "a5d859b3-c38f-409a-b9b8-cbe035785851",
      "name": "Gmail - get message",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -304,
        704
      ],
      "webhookId": "d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "xqOTurRpHtoW4yz8",
          "name": "JVX Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tool to add label to message",
        "operation": "addLabels",
        "messageId": "={{ $fromAI('gmail_message_id') }}",
        "labelIds": "={{ $fromAI('gmail_categories', 'array of label ids') }}"
      },
      "id": "5ae08493-ee91-4ef7-9f8a-70914181fdab",
      "name": "Gmail - add label to message",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -96,
        704
      ],
      "webhookId": "7a87b026-1c6e-40e1-a062-aefdd1af1585",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "xqOTurRpHtoW4yz8",
          "name": "JVX Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Tool to create a new label, only use if label does not already exist",
        "resource": "label",
        "operation": "create",
        "name": "={{ $fromAI('new_label_name', 'new label name', 'string' ) }} ",
        "options": {}
      },
      "id": "46500acb-616a-462d-bba7-1a7c27d11554",
      "name": "Gmail - create label",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        80,
        704
      ],
      "webhookId": "d8ec9401-a9ff-4fe2-9c1e-5a8036cd96c9",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "xqOTurRpHtoW4yz8",
          "name": "JVX Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Label the email based on the details below:\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "=Objective:\nAutomatically categorize incoming emails based on existing Gmail labels or create a new label if none match.\n\nTools:\n- Get message\n- Read all labels\n- Create label\n- Assign label to message\n\nInstructions:\n\nLabel Matching:\n\nAnalyze the email's subject, sender, recipient, keywords, and content.\nCompare with existing Gmail labels to find the most relevant match.\nLabel Assignment:\n\nAssign the email to the most appropriate existing label.`\nRemove the inbox label if the email is of less importance (like ads, promotions, aka \"Reclame\"), keep normal and important emails in the inbox.\nIf no suitable label exists, create a new label based on the existing labels. Try reusing existing labels as much as possible. Always create a label as a sublabel, if no label applies, if the main label already exists, create the new label under the existing label, if no main label exists, create the label AI and create the new label under this label.\nLabel Creation:\n\nEnsure new labels align with the structure of existing ones, including capitalization, delimiters, and prefixes.\n\nExamples:\n\nIf the email subject is \"Project Alpha Update,\" assign to [Project Alpha] if it exists.\nFor \"New Vendor Inquiry,\" create \"Vendor Inquiry\" if no relevant label exists.\n\nOutcome:\nEmails are consistently categorized under the appropriate or newly created labels, maintaining Gmail's organizational structure.",
          "maxIterations": 5,
          "returnIntermediateSteps": true
        }
      },
      "id": "240cd978-a291-4b06-bbca-917e49b568a2",
      "name": "Gmail labelling agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -624,
        480
      ],
      "notesInFlow": true,
      "retryOnFail": false,
      "typeVersion": 1.7,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput",
      "notes": "Objective:\nAutomatically categorize incoming emails based on existing Gmail labels or create a new label if none match.\n\nTools:\n- Get message\n- Read all labels\n- Create label\n- Assign label to message\n\nInstructions:\n\nLabel Matching:\n\nAnalyze the email's subject, sender, recipient, keywords, and content.\nCompare with existing Gmail labels to find the most relevant match.\nLabel Assignment:\n\nAssign the email to the most appropriate existing label.`\nRemove the inbox label if the email is of less importance (like ads, promotions, aka \"Reclame\"), keep normal and important emails in the inbox.\nIf no suitable label exists, create a new label based on the existing labels. Try reusing existing labels as much as possible. Always create a label as a sublabel, if no label applies, if the main label already exists, create the new label under the existing label, if no main label exists, create the label AI and create the new label under this label.\nLabel Creation:\n\nEnsure new labels align with the structure of existing ones, including capitalization, delimiters, and prefixes.\nExamples:\n\nIf the email subject is \"Project Alpha Update,\" assign to [Project Alpha] if it exists.\nFor \"New Vendor Inquiry,\" create \"Vendor Inquiry\" if no relevant label exists.\nOutcome:\nEmails are consistently categorized under the appropriate or newly created labels, maintaining Gmail's organizational structure."
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "id": "8152449a-8c9c-40f7-a08f-b9d25c737f62",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -544,
        944
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "15fab172-b8bf-42aa-9c82-358eace64b22",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        -784,
        480
      ],
      "webhookId": "2066b863-4526-40cf-90aa-82229895a73c",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Gmail trigger\nPoll Gmail every x minutes, trigger when a new email is received.\n\n- Gmail API"
      },
      "id": "aa1d9707-48cf-499f-997c-64080369d58f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Gmail labelling agent\n- Read the message\n- Read existing labels\n- Create a new label if needed\n- Assign label to message\n\n----\n\nObjective:\nAutomatically categorize incoming emails based on existing Gmail labels or create a new label if none match.\n\nTools:\n- Get message\n- Read all labels\n- Create label\n- Assign label to message\n\nInstructions:\n\nLabel Matching:\n\nAnalyze the email's subject, sender, recipient, keywords, and content.\nCompare with existing Gmail labels to find the most relevant match.\nLabel Assignment:\n\nAssign the email to the most appropriate existing label.`\nRemove the inbox label if the email is of less importance (like ads, promotions, aka \"Reclame\"), keep normal and important emails in the inbox.\nIf no suitable label exists, create a new label based on the existing labels. Try reusing existing labels as much as possible. Always create a label as a sublabel, if no label applies, if the main label already exists, create the new label under the existing label, if no main label exists, create the label AI and create the new label under this label.\nLabel Creation:\n\nEnsure new labels align with the structure of existing ones, including capitalization, delimiters, and prefixes.\nExamples:\n\nIf the email subject is \"Project Alpha Update,\" assign to [Project Alpha] if it exists.\nFor \"New Vendor Inquiry,\" create \"Vendor Inquiry\" if no relevant label exists.\nOutcome:\nEmails are consistently categorized under the appropriate or newly created labels, maintaining Gmail's organizational structure.",
        "height": 840,
        "width": 780
      },
      "id": "b6fb1e9a-00c8-463f-9250-5d875b8124ed",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Gmail API\n- Add credentials ",
        "width": 440
      },
      "id": "9b9738bc-6560-441b-b69d-ce274bbe449c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## OpenAI\n- Add credentials ",
        "width": 440
      },
      "id": "1261c31d-6349-4d08-a9fc-4923e158f69f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -624,
        704
      ],
      "id": "08992268-e1a4-4df8-a7f9-04a11f96a6c4",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "P3tXVnG4nimxmM4P",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "spaceId": "spaces/AAQAMkyYuCU",
        "messageUi": {
          "text": "=The Workflow {{ $workflow.name }} with ID {{ $workflow.id }} executed at {{$now}}\n\nHere's the output:\n{{ $json.output }}"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        -272,
        384
      ],
      "id": "b28f8dfb-20a5-4bd3-816a-1051900821dc",
      "name": "Create a message",
      "webhookId": "fb8a0eed-139b-4a13-a1eb-9ff60ed47850",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "bjkHgKY5mxD4IAVA",
          "name": "Chat account"
        }
      }
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Gmail labelling agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Gmail labelling agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - get message": {
      "ai_tool": [
        [
          {
            "node": "Gmail labelling agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - read labels": {
      "ai_tool": [
        [
          {
            "node": "Gmail labelling agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - create label": {
      "ai_tool": [
        [
          {
            "node": "Gmail labelling agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        []
      ]
    },
    "Gmail - add label to message": {
      "ai_tool": [
        [
          {
            "node": "Gmail labelling agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Gmail labelling agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail labelling agent": {
      "main": [
        [
          {
            "node": "Create a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveExecutionProgress": true,
    "timeSavedPerExecution": 2,
    "errorWorkflow": "Ie6X1AIVculyZxnj"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1759260801,
        "possibleDuplicates": [
          "1999c1d81fb18290"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19993e4dbea83aa6",
          "threadId": "19993e4dbea83aa6",
          "snippet": "Firebase LSI-Onboarding-System [Firebase] Client access to your Cloud Firestore database expired 12 day(s) ago You chose to start developing in Test Mode, which left your Cloud Firestore database",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 15651,
          "historyId": "316544",
          "internalDate": "1759122873000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[Firebase] Client access to your Cloud Firestore database has expired",
          "From": "firebase-noreply@google.com",
          "To": "joel@virtualxperiencellc.com"
        }
      },
      {
        "json": {
          "id": "199937c64ee0f8f1",
          "threadId": "199937c64ee0f8f1",
          "snippet": "Quick story. A client asked me, \u201cWhat actually moves the needle in Q4... funnels or ads?\u201d I said, \u201cBoth. But if your creatives don&#39;t buy attention in the first heartbeat, your funnel never even",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 45555,
          "historyId": "316333",
          "internalDate": "1759116027000",
          "labels": [
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            },
            {
              "id": "Label_7604792382847917636",
              "name": "Newsletters"
            }
          ],
          "Subject": "where the money\u2019s made (hint: not the button)",
          "From": "Peng Joon <support@salesprocess.com>",
          "To": "joel@virtualxperiencellc.com"
        }
      },
      {
        "json": {
          "id": "1998f3657d260ae9",
          "threadId": "1998f3657d260ae9",
          "snippet": "Over the past few days, the #1 question I&#39;ve been getting is this: \ud83d\udc49 \u201cPeng Joon\u2026 can you just build my Q4 campaigns for me?\u201d And honestly\u2026 It makes sense. My training gave you the plan. The steps",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 43491,
          "historyId": "316077",
          "internalDate": "1759044327000",
          "labels": [
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            },
            {
              "id": "Label_7604792382847917636",
              "name": "Newsletters"
            }
          ],
          "Subject": "\u201ccan you build my Q4 campaigns for me?\u201d",
          "From": "Peng Joon <support@salesprocess.com>",
          "To": "joel@virtualxperiencellc.com"
        }
      },
      {
        "json": {
          "id": "1998b2288297a542",
          "threadId": "1998b2288297a542",
          "snippet": "Hi Torey and Team, I just received a call earlier today at 08:23 AM. Please see the details below: Call Summary: Joey Johnson called regarding needing to speak with Brandon. He left a message for",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 7321,
          "historyId": "316569",
          "internalDate": "1758975920000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "INBOX",
              "name": "INBOX"
            }
          ],
          "Bcc": "jnebria@outlook.com",
          "From": "AI Lisa <ailisa@virtualxperiencellc.com>",
          "To": "toreymorris@gmail.com",
          "Cc": "joel@virtualxperiencellc.com, allen@virtualxperiencellc.com, brandon.hodge6879@gmail.com, Idealisticachieve@outlook.com",
          "Subject": "AI Receptionist Call Summary | Sep 27, 2025 08:23 AM"
        }
      },
      {
        "json": {
          "id": "1998b1a7432be5bb",
          "threadId": "1998b1a7432be5bb",
          "snippet": "Hi Torey and Team, I just received a call earlier today at 08:14 AM. Please see the details below: Call Summary: Billy Johnson called regarding a request for Brandon. He stated he needs &quot;soda and",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 7426,
          "historyId": "316063",
          "internalDate": "1758975390000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "Bcc": "jnebria@outlook.com",
          "From": "AI Lisa <ailisa@virtualxperiencellc.com>",
          "To": "toreymorris@gmail.com",
          "Cc": "joel@virtualxperiencellc.com, allen@virtualxperiencellc.com, brandon.hodge6879@gmail.com, Idealisticachieve@outlook.com",
          "Subject": "AI Receptionist Call Summary | Sep 27, 2025 08:14 AM"
        }
      },
      {
        "json": {
          "id": "19989c801f1ced20",
          "threadId": "19989c801f1ced20",
          "snippet": "Over the past 2 days, I&#39;ve given private access to the replay of the closed-door Q4 training I ran. Hundreds have already watched it, taken notes, and started sketching out campaigns that will make",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 48548,
          "historyId": "315619",
          "internalDate": "1758953210000",
          "labels": [
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            },
            {
              "id": "Label_7604792382847917636",
              "name": "Newsletters"
            }
          ],
          "Subject": "\ud83d\udea8 FINAL CHANCE: Replay Pulled at 11:59 PM",
          "From": "Peng Joon <support@salesprocess.com>",
          "To": "joel@virtualxperiencellc.com"
        }
      },
      {
        "json": {
          "id": "19988bbfa66049fc",
          "threadId": "19988bbfa66049fc",
          "snippet": "The answer might surprise you. \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f \u034f",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 24429,
          "historyId": "315539",
          "internalDate": "1758935645000",
          "labels": [
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            },
            {
              "id": "Label_7604792382847917636",
              "name": "Newsletters"
            }
          ],
          "From": "Neil Patel <np@neilpatel.com>",
          "Subject": "Are You Losing Traffic to AI Search?",
          "To": "joel@virtualxperiencellc.com"
        }
      },
      {
        "json": {
          "id": "19987b8119f90281",
          "threadId": "19987b8119f90281",
          "snippet": "Neon Logo Changelog 39 - Postgres 18 (Preview), Elephantshark, and Kalman filters Friday Changelog Here are highlights from what we shipped: \ud83c\udf89 Postgres 18 (preview) is available on Neon! Full Changelog",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 28759,
          "historyId": "315417",
          "internalDate": "1758918611000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Neon Team <coteam@neon.tech>",
          "To": "joel@virtualxperiencellc.com",
          "Subject": "Postgres 18 is available on Neon!"
        }
      },
      {
        "json": {
          "id": "19986d388151415f",
          "threadId": "19986d3556f74e94",
          "snippet": "Hi Virtual Xperience LLC, Your usage summary for August 2025 is being processed. This typically takes 4-6 business days. It will be sent by email, and available to download on Twilio Console, once it",
          "payload": {
            "mimeType": "text/html"
          },
          "sizeEstimate": 9651,
          "historyId": "315337",
          "internalDate": "1758903634000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            },
            {
              "id": "Label_447165624499986800",
              "name": "Subscriptions"
            }
          ],
          "From": "invoicing@twilio.com",
          "Subject": "Twilio usage summary for August 2025 will be available soon",
          "To": "joel@virtualxperiencellc.com",
          "Cc": "alvin@virtualxperiencellc.com, vxvaph@gmail.com"
        }
      },
      {
        "json": {
          "id": "19986d3556f74e94",
          "threadId": "19986d3556f74e94",
          "snippet": "Hi , Your usage summary for August 2025 is being processed. This typically takes 4-6 business days. It will be sent by email, and available to download on Twilio Console, once it is ready. You can also",
          "payload": {
            "mimeType": "text/html"
          },
          "sizeEstimate": 9545,
          "historyId": "315272",
          "internalDate": "1758903621000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            },
            {
              "id": "Label_447165624499986800",
              "name": "Subscriptions"
            }
          ],
          "From": "invoicing@twilio.com",
          "Subject": "Twilio usage summary for August 2025 will be available soon",
          "To": "joel@virtualxperiencellc.com",
          "Cc": "allen@virtualxperiencellc.com"
        }
      },
      {
        "json": {
          "id": "19986b749019703b",
          "threadId": "19986b749019703b",
          "snippet": "I wanna say: THANK YOU! We are such an amazing community. Tens of thousands of people joined us live these past 3 days of the Future of Marketing &amp; AI Virtual Summit. This was hands down the most",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 13970,
          "historyId": "315122",
          "internalDate": "1758901783000",
          "labels": [
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            },
            {
              "id": "Label_7604792382847917636",
              "name": "Newsletters"
            }
          ],
          "From": "Neil Patel <np@neilpatel.com>",
          "Subject": "Summit - Last Day",
          "To": "joel@virtualxperiencellc.com"
        }
      },
      {
        "json": {
          "id": "1998653f00094d88",
          "threadId": "1998653f00094d88",
          "snippet": "Your free trial is over, but it&#39;s easy to jump back in \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c \u200c",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 44673,
          "historyId": "314993",
          "internalDate": "1758895272000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PROMOTIONS",
              "name": "CATEGORY_PROMOTIONS"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "To": "joel@virtualxperiencellc.com",
          "Subject": "\u23f0 There\u2019s still time to get back to Asana",
          "From": "Asana <learn@go.asana.com>"
        }
      }
    ]
  },
  "versionId": "595726e9-826f-4e30-ac09-d7ffba3bfe1d",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-07-24T02:19:27.098Z",
      "updatedAt": "2025-07-24T02:19:27.098Z",
      "id": "w1HteVpFLB5n2YoC",
      "name": "Gmail"
    }
  ],
  "shared": [
    {
      "createdAt": "2025-07-01T18:11:44.683Z",
      "updatedAt": "2025-07-01T18:11:44.683Z",
      "role": "workflow:owner",
      "workflowId": "2UqdKEd4Cd5f8Xpa",
      "projectId": "QEiebo2x6YENAnrq",
      "project": {
        "createdAt": "2025-03-12T12:15:21.659Z",
        "updatedAt": "2025-03-15T14:25:50.674Z",
        "id": "QEiebo2x6YENAnrq",
        "name": "Joel Quinn Ebb-Wrightten <n8n.admin@virtualxperiencellc.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}