workflows/kyGErjVUqQY7nQSj-voice-ai-customer-support-for-woocommerce-using-vapi-gpt-4o-gemini-with-rag.json
{
  "createdAt": "2025-09-15T14:18:18.588Z",
  "updatedAt": "2025-09-15T14:18:18.588Z",
  "id": "kyGErjVUqQY7nQSj",
  "name": "Voice AI Customer Support for WooCommerce using VAPI, GPT-4o & Gemini with RAG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.search }}",
        "options": {
          "systemPromptTemplate": "=You are an assistant for question-answering tasks. Use the following pieces of retrieved context to answer the question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n\nToday is {{ $now }}\n\n----------------\nContext: {context}"
        }
      },
      "id": "784ae812-b3e9-4768-a108-ac3f5fd0e965",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        1200,
        1584
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "id": "1a051d79-3738-4e64-b97f-ac581e724d95",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1088,
        1808
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "topK": 5
      },
      "id": "31c0a7f1-45a2-4ed2-adbd-423f1fcc7bb7",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "position": [
        1296,
        1792
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "negozio-emporio-verde",
          "cachedResultName": "negozio-emporio-verde"
        },
        "options": {}
      },
      "id": "bb55684d-6c5b-4518-ae49-206f5f163c3c",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        1216,
        1984
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f530e2ad-645d-4b89-94f0-44f62522917a",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1200,
        2160
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5ca93cd6-7f7b-4c91-acff-c324e594cca7",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5b11f5d5-78f6-4095-b5a8-88630fce649e",
      "name": "rag",
      "type": "n8n-nodes-base.webhook",
      "position": [
        816,
        1584
      ],
      "webhookId": "5ca93cd6-7f7b-4c91-acff-c324e594cca7",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "resource": "order",
        "operation": "get",
        "orderId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_ID', `Order Details Retrieval Process:\n1. Request Order Number\n   - Explicitly ask customer for the complete order number\n\n2. Identity Verification\n   - Ask for the email address associated with the order\n   - Strictly verify that the provided email matches the order record\n   - If email does NOT match the order:\n     * Immediately halt the process\n     * Inform customer that the email is incorrect\n     * Do NOT provide the correct email\n     * Prevent access to order details\n\n3. Verification Criteria\n   - Exact match of email to order record is mandatory\n   - No exceptions or workarounds\n   - Customer must provide the precise, correct email`, 'string') }}"
      },
      "id": "07ab5e01-4fff-414e-9843-cf9382aac4df",
      "name": "get_order",
      "type": "n8n-nodes-base.wooCommerceTool",
      "position": [
        1536,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "order",
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {
          "search": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}"
        }
      },
      "id": "b83afd81-7e3e-43bb-8581-ee82d76b9330",
      "name": "get_orders",
      "type": "n8n-nodes-base.wooCommerceTool",
      "position": [
        1648,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}"
        }
      },
      "id": "22d61db2-97b4-40da-852d-676b50ef7d26",
      "name": "get_user",
      "type": "n8n-nodes-base.wooCommerceTool",
      "position": [
        1744,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7026a8d5-43a7-48db-a337-1b3a9f457ddb",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        1232,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "get_tracking",
        "description": "Get tracking number for a specific order by providing the order number. The tool retrieves the unique tracking code that allows customers to monitor their shipment's current status and location.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "EMOh4weW7QKklbyb"
        },
        "workflowInputs": {
          "value": {
            "order_number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('order_number', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "order_number",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "order_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "order_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "fb4d1894-4d09-4f3c-af85-de2fe67d5967",
      "name": "get_tracking",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1392,
        1264
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"order_number\": \"order number\"\n}"
      },
      "id": "caacd925-11eb-4f11-a3bb-6381f74b5fc8",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1936,
        1248
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Order Information:\nEmail: {{ $json.body.email }}\nOrder number: {{ $json.body.n_order }}",
        "options": {
          "systemMessage": "=## Role and Primary Objective\nYou are a customer support AI agent for an online clothing store, specializing in post-sales assistance. Your primary goals are to:\n- Help customers track their orders\n- Provide information about past and current orders\n- Offer clear and concise support\n\n## Communication Guidelines\n1. Always be professional, helpful, and precise\n2. Use available tools to retrieve accurate information\n3. Verify customer identity before sharing order details\n4. Protect customer privacy and data confidentiality\n\n## Tool Usage Instructions\n\n### Order Information Retrieval\n- Use `get_order` to fetch details for a single order\n  - REQUIRED: Complete user information including request, email, and order number\n- Use `get_orders` to retrieve multiple orders for a single customer\n- Use `get_user` to obtain customer profile information\n\n### Tracking and Support\n- Use `get_tracking` to obtain tracking information for an order using the order number\n- If a customer cannot find what they need, use `human*assistance`\n  - Synthesize the request clearly\n  - Include associated user email\n  - Provide concise, relevant details\n\n### General Information\n- Use `ToS` tool to answer questions about:\n  - Terms and Conditions\n  - Shipping information\n  - General store policies\n\n## Critical Verification Rules\n- ALWAYS verify that the email provided matches the order number\n- If the email does not match the order:\n  - DO NOT provide the correct email\n  - Inform the customer that the email address is incorrect\n  - Request the correct email associated with the order\n\n## Prohibited Actions\n- Never disclose sensitive customer information\n- Do not share full order details without proper verification\n- Avoid providing speculative or unconfirmed information\n\n## Communication Style\n- Be direct and helpful\n- Use clear, professional language\n- Focus on solving the customer's specific query\n- Provide step-by-step guidance when necessary\n\nToday is {{$now}}"
        }
      },
      "id": "11504f43-0dce-4eef-a461-a0fd080b94e3",
      "name": "Post-Sales Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1088,
        976
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "content": "The tracking code request is made through the most popular WooCommerce tracking plugin: \"YITH WooCommerce Order & Shipment Tracking\". The free version can be [downloaded here](https://wordpress.org/plugins/yith-woocommerce-order-tracking/)\n- Create a new workflow and change URL in the node \"Http Request\" with your WooCommerce shop url",
        "height": 136,
        "width": 532,
        "color": 5
      },
      "id": "571a225d-edc8-499e-a48d-5d8253d38b64",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://URL/wp-json/wc/v3/orders/{{ $json.order_number }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "c0d82557-5f90-4115-8673-216e2274f25d",
      "name": "Get tracking",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2112,
        1248
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19b33abc-5191-4449-b682-4466f1975ff2",
              "name": "tracking_code",
              "type": "string",
              "value": "={{ $json[\"meta_data\"].find(item => item.key === \"ywot_tracking_code\").value }}"
            },
            {
              "id": "2e18b337-e3e8-4669-a902-ecc2ba027a1a",
              "name": "carrier_url",
              "type": "string",
              "value": "={{ $json[\"meta_data\"].find(item => item.key === \"ywot_carrier_url\").value }}"
            },
            {
              "id": "ae834f65-67b2-4e95-9a49-5172e36fc5b9",
              "name": "pick_up",
              "type": "string",
              "value": "={{ $json[\"meta_data\"].find(item => item.key === \"ywot_pick_up_date\").value }}"
            }
          ]
        },
        "options": {}
      },
      "id": "85450f4c-7329-4876-af32-792764d1c726",
      "name": "Set tracking code",
      "type": "n8n-nodes-base.set",
      "position": [
        2288,
        1248
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "1153e7e1-269a-472f-8dc5-df3b59a48705",
      "name": "GPT 4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        928,
        1264
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f265a558-2787-4f8c-96a1-7b1068e45d3c",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5a29fd84-fb55-4f89-98a4-a7ba0c5f3889",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        816,
        976
      ],
      "webhookId": "f265a558-2787-4f8c-96a1-7b1068e45d3c",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Post-sale Agent\nGet a WooCommerce user's orders and shipping tracking",
        "height": 112,
        "width": 384,
        "color": 4
      },
      "id": "a5aef818-952a-401e-bfa4-a6e2ec1b52de",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        992
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## General info\n\nExtract information saved in the vector database\n\nTo build the RAG system please view [this Workflow](https://n8n.io/workflows/7647-build-a-self-updating-rag-system-with-openai-google-gemini-qdrant-and-google-drive/)",
        "height": 144,
        "width": 400,
        "color": 4
      },
      "id": "2d963ce1-5a68-4f59-9162-8e256349f056",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        1584
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6a208ab-3fb3-4b4a-9615-b29183bbce39",
              "name": "message",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8b837fa9-8c26-4454-97a6-0a0d7e0cd0e2",
      "name": "Set response",
      "type": "n8n-nodes-base.set",
      "position": [
        1440,
        976
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1ef5425b-d66b-44b6-985b-5cc5adcb3ca6",
      "name": "Send response to VAPI",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1680,
        976
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7a91965a-bf65-404d-86b8-69990f687e9e",
      "name": "Send RAG response to VAPI",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1680,
        1584
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "content": "## STEP 1\nCreate two \"API Request\" tools in VAPI:\n- WooCommerce tool: connect the n8n webhook and set two parameters as the request body: 'email' and 'n_order'\n- Rag tool: connect the n8n webhook and set the 'search' parameter as the request body\n\n## STEP 2\n- Create a wizard by generating a system prompt that includes the functionality of the two tools created in STEP 1.\n- Set the voice in the Voice tab.\n- Include the two tools created in STEP 1 in the 'Tools' tab.\n\n## STEP 3\n- Create or import a phone number from Twilio, setting it as \"Inbound.\"\n- Associate the phone number with the wizard.",
        "height": 368,
        "width": 1072
      },
      "id": "cbebeb82-f172-45d6-afa6-9f8409a8432d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Build AI Voice Assistent with VAPI & Twilio for WooCommerce Post-Sales & RAG\nThis workflow integrates a **Retrieval-Augmented Generation (RAG) system** with a **post-sales AI agent for WooCommerce**. It combines vector-based search (Qdrant + OpenAI embeddings) with LLMs (Google Gemini and GPT-4o-mini) to provide accurate and contextual responses.\n\nBoth systems are connected to **VAPI webhooks**, making the workflow usable in a **voice AI assistant** via **Twilio** phone numbers.\n\nThe workflow receives JSON payloads from VAPI via webhooks, processes the request through the appropriate chain (Agent or RAG), and sends a structured response back to VAPI to be read out to the user.",
        "height": 208,
        "width": 1072,
        "color": 3
      },
      "id": "dbd67324-fb3e-4559-a013-33e37216900c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "rag": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Post-Sales Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_user": {
      "ai_tool": [
        [
          {
            "node": "Post-Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_order": {
      "ai_tool": [
        [
          {
            "node": "Post-Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Post-Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_orders": {
      "ai_tool": [
        [
          {
            "node": "Post-Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Post-Sales Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get tracking": {
      "main": [
        [
          {
            "node": "Set tracking code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set response": {
      "main": [
        [
          {
            "node": "Send response to VAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_tracking": {
      "ai_tool": [
        [
          {
            "node": "Post-Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Post-Sales Agent": {
      "main": [
        [
          {
            "node": "Set response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Send RAG response to VAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "8488"
  },
  "pinData": {},
  "versionId": "a6040b68-8d21-4973-b169-e77cdfa0a4d1",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-15T14:18:18.588Z",
      "updatedAt": "2025-09-15T14:18:18.588Z",
      "role": "workflow:owner",
      "workflowId": "kyGErjVUqQY7nQSj",
      "projectId": "QEiebo2x6YENAnrq",
      "project": {
        "createdAt": "2025-03-12T12:15:21.659Z",
        "updatedAt": "2025-03-15T14:25:50.674Z",
        "id": "QEiebo2x6YENAnrq",
        "name": "Joel Quinn Ebb-Wrightten <n8n.admin@virtualxperiencellc.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}