workflows/lAZTTjva7BpXP0pS-find-top-keywords-for-youtube-and-google-and-store-them-in-nocodb.json
{
  "createdAt": "2025-03-25T04:57:30.218Z",
  "updatedAt": "2025-03-25T04:57:30.218Z",
  "id": "lAZTTjva7BpXP0pS",
  "name": "Find Top Keywords for Youtube And Google and Store them in NocoDB",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "386c7972-34c2-4f51-9329-dee7f6a7511b",
      "name": "When clicking \u2018Test workflow\u2019",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        480,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */4 * * *"
            }
          ]
        }
      },
      "id": "3ebf40fd-acfd-4424-99c9-95ddaac74de3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        480,
        680
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "// Get today's date\nconst today = new Date();\n\n// Subtract one day to get the previous day\nconst yesterday = new Date(today);\nyesterday.setDate(today.getDate() - 1);\n\n// Format the date as yyyy-mm-dd\nconst year = yesterday.getFullYear();\nconst month = String(yesterday.getMonth() + 1).padStart(2, '0'); // Month is zero-indexed\nconst day = String(yesterday.getDate()).padStart(2, '0');\n\nconst formattedDate = `${year}-${month}-${day}`;\n\n// Set the formatted date to be used in a later node\nreturn [{ json: { previousDay: formattedDate } }];"
      },
      "id": "a24af92b-849d-48ee-aedd-6c7e75d9c902",
      "name": "Gen Time",
      "type": "n8n-nodes-base.code",
      "position": [
        760,
        580
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Create time for yesterday and today. This will be used to gather and search for news articles within a specific range.",
        "height": 780,
        "width": 520
      },
      "id": "f0807e09-1f8f-45ba-a6d3-d14ee3f96a9f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Grab a list of base keywords from NocoDB",
        "height": 780,
        "width": 280,
        "color": 4
      },
      "id": "c97b391b-1da1-4c62-9394-e83a49dae788",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate YouTube and Google Keywords from base keywords",
        "height": 780,
        "width": 380
      },
      "id": "21e89f1c-7101-490a-89aa-a5a52e10d88a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1180,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "pbwiwe87uf1cpgc",
        "table": "mztryza8davdl48",
        "returnAll": true,
        "options": {
          "fields": [
            "keyword"
          ]
        }
      },
      "id": "3b6e8b0e-dfdc-41d0-a387-00872c92faa1",
      "name": "NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "position": [
        980,
        580
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "http://192.168.1.110:8000/google-search/autocomplete-keywords",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "input_keyword",
              "value": "={{ $('NocoDB').item.json.keyword }}"
            },
            {
              "name": "input_country",
              "value": "US"
            },
            {
              "name": "use_proxy",
              "value": "true"
            },
            {
              "name": "output",
              "value": "toolbar"
            },
            {
              "name": "spell",
              "value": "1"
            },
            {
              "name": "hl",
              "value": "en"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "fef9283e-886a-486b-a51f-0f459f4b18e0",
      "name": "Second Order Google Autocomplete Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1300,
        440
      ],
      "executeOnce": false,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/keywords_data/google_ads/search_volume/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"location_code\": 2840,\n        \"language_code\": \"en\",\n        \"keywords\": [{{ $json.keywords }}],\n        \"date_from\": \"2021-08-01\",\n        \"search_partners\": false \n    }\n]",
        "options": {}
      },
      "id": "fad88d1e-a14e-4cc1-9ac1-dcc6126355c4",
      "name": "Google Search Volume",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1900,
        440
      ],
      "executeOnce": false,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Query YouTube and Google Keyword search volume.",
        "height": 780,
        "width": 500,
        "color": 4
      },
      "id": "dac54baa-6166-4fb6-a705-a45a91b993ed",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1560,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "tasks[0].result",
        "options": {}
      },
      "id": "753401aa-c78e-4dd1-b47f-b774bed8a6ce",
      "name": "Split Out Google Search",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2180,
        440
      ],
      "executeOnce": false,
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/keywords_data/google_ads/search_volume/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n    {\n        \"location_code\": 2840,\n        \"language_code\": \"en\",\n        \"keywords\": [{{ $json.keywords }}],\n        \"date_from\": \"2021-08-01\",\n        \"search_partners\": true,\n        \"sort_by\": \"search_volume\"\n    }\n]",
        "options": {}
      },
      "id": "12f53197-a03e-4862-a6cf-d4feffd49b29",
      "name": "YouTube Search Volume",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1900,
        760
      ],
      "executeOnce": false,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "http://192.168.1.110:8000/google-search/autocomplete-keywords",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "input_keyword",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "input_country",
              "value": "US"
            },
            {
              "name": "use_proxy",
              "value": "true"
            },
            {
              "name": "output",
              "value": "toolbar"
            },
            {
              "name": "spell",
              "value": "1"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "ds",
              "value": "yt"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "d0173c03-c803-4c64-9c87-48a47952085f",
      "name": "Second Order YouTube Autocomplete Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1300,
        760
      ],
      "executeOnce": false,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "tasks[0].result",
        "options": {}
      },
      "id": "dfa987d0-c18c-44c4-9796-942404f49630",
      "name": "Split Out YT Search",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2180,
        760
      ],
      "executeOnce": false,
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6e46fa28-2adf-47a0-bbf3-7a9b8b8413f7",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.monthly_searches }}",
              "rightValue": ""
            },
            {
              "id": "45bca7c3-eac2-44e8-9993-b53200174003",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.cpc }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "29196a5b-c46e-46f7-99ff-781a0d97c551",
      "name": "Google Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        2400,
        440
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6e46fa28-2adf-47a0-bbf3-7a9b8b8413f7",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.monthly_searches }}",
              "rightValue": ""
            },
            {
              "id": "45bca7c3-eac2-44e8-9993-b53200174003",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.cpc }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "6b11b8e2-d6fb-45d7-817e-3e1038068696",
      "name": "YT Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        2400,
        760
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pbwiwe87uf1cpgc",
        "table": "m8bp2fnwtqsd2m7",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=keyword",
              "fieldValue": "={{ $('Split Out YT Search').item.json.keyword }}"
            },
            {
              "fieldName": "location_code",
              "fieldValue": "={{ $('Split Out YT Search').item.json.location_code }}"
            },
            {
              "fieldName": "language_code",
              "fieldValue": "={{ $('Split Out YT Search').item.json.language_code }}"
            },
            {
              "fieldName": "search_partners",
              "fieldValue": "={{ $('Split Out YT Search').item.json.search_partners }}"
            },
            {
              "fieldName": "competition",
              "fieldValue": "={{ $('Split Out YT Search').item.json.competition }}"
            },
            {
              "fieldName": "competition_index",
              "fieldValue": "={{ $('Split Out YT Search').item.json.competition_index }}"
            },
            {
              "fieldName": "cpc",
              "fieldValue": "={{ $('Split Out YT Search').item.json.cpc }}"
            },
            {
              "fieldName": "low_top_of_page_bid",
              "fieldValue": "={{ $('Split Out YT Search').item.json.low_top_of_page_bid }}"
            },
            {
              "fieldName": "high_top_of_page_bid",
              "fieldValue": "={{ $('Split Out YT Search').item.json.high_top_of_page_bid }}"
            },
            {
              "fieldName": "search_volume",
              "fieldValue": "={{ $('Split Out YT Search').item.json.search_volume }}"
            }
          ]
        }
      },
      "id": "6d52836b-ce37-46c0-aa4b-7c2b917b9f1d",
      "name": "Add Second Tier YT Keyword Data",
      "type": "n8n-nodes-base.nocoDb",
      "position": [
        3480,
        620
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pbwiwe87uf1cpgc",
        "table": "mjmbcomto18scyi",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=keyword",
              "fieldValue": "={{ $('Split Out Google Search').item.json.keyword }}"
            },
            {
              "fieldName": "location_code",
              "fieldValue": "={{ $('Split Out Google Search').item.json.location_code }}"
            },
            {
              "fieldName": "language_code",
              "fieldValue": "={{ $('Split Out Google Search').item.json.language_code }}"
            },
            {
              "fieldName": "search_partners",
              "fieldValue": "={{ $('Split Out Google Search').item.json.search_partners }}"
            },
            {
              "fieldName": "competition",
              "fieldValue": "={{ $('Split Out Google Search').item.json.competition }}"
            },
            {
              "fieldName": "competition_index",
              "fieldValue": "={{ $('Split Out Google Search').item.json.competition_index }}"
            },
            {
              "fieldName": "cpc",
              "fieldValue": "={{ $('Split Out Google Search').item.json.cpc }}"
            },
            {
              "fieldName": "low_top_of_page_bid",
              "fieldValue": "={{ $('Split Out Google Search').item.json.low_top_of_page_bid }}"
            },
            {
              "fieldName": "high_top_of_page_bid",
              "fieldValue": "={{ $('Split Out Google Search').item.json.high_top_of_page_bid }}"
            },
            {
              "fieldName": "search_volume",
              "fieldValue": "={{ $('Split Out Google Search').item.json.search_volume }}"
            }
          ]
        }
      },
      "id": "d4a72c2b-8c16-4f3e-80ad-1564ec8b33d4",
      "name": "Add Second Tier G Keyword Data",
      "type": "n8n-nodes-base.nocoDb",
      "position": [
        3480,
        40
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Get the monthly search data from the \"Loop Over Google Keywords\" node\nconst loopData = $node[\"Loop Over Google Keywords\"].json;\nif (!loopData || !loopData.monthly_searches || !Array.isArray(loopData.monthly_searches)) {\n  throw new Error(\"monthly_searches data is missing or not an array from Loop Over Google Keywords node.\");\n}\nconst monthlySearches = loopData.monthly_searches;\n\n// Get all items from the \"Add Second Tier G Keyword Data\" node\nconst secondTierItems = $items(\"Add Second Tier G Keyword Data\");\n\nif (!secondTierItems || secondTierItems.length === 0) {\n  throw new Error(\"No data found in Add Second Tier G Keyword Data node.\");\n}\n\nconst results = [];\n\n// Loop through each second-tier item\nsecondTierItems.forEach(itemWrapper => {\n  const item = itemWrapper.json;\n  // Validate that the required properties exist on the second-tier item.\n  if (!item.keyword || item.Id === undefined) {\n    throw new Error(\"A second tier item is missing 'keyword' or 'Id'.\");\n  }\n  \n  // For each monthly search record, combine with the second-tier data\n  monthlySearches.forEach(record => {\n    // Validate that each monthly record has the required properties.\n    if (record.year === undefined || record.month === undefined || record.search_volume === undefined) {\n      throw new Error(\"A monthly search record is missing 'year', 'month', or 'search_volume'.\");\n    }\n    \n    results.push({\n      json: {\n        keyword: item.keyword,\n        google_keyword_id: item.Id,\n        year: record.year,\n        month: record.month,\n        search_volume: record.search_volume,\n        unique_id: `${record.year}-${record.month}-${item.keyword}`\n      }\n    });\n  });\n});\n\n// Chunk the results into batches of 1000 items each\nconst batchSize = 1000;\nconst batchedResults = [];\n\nfor (let i = 0; i < results.length; i += batchSize) {\n  // Create a batch containing up to batchSize items\n  const batchItems = results.slice(i, i + batchSize).map(item => item.json);\n  batchedResults.push({\n    json: {\n      batch: batchItems\n    }\n  });\n}\n\nreturn batchedResults;\n"
      },
      "id": "1fdaf0fc-5c11-406f-93fb-b4a7fd3b6eed",
      "name": "Format G Data",
      "type": "n8n-nodes-base.code",
      "position": [
        3680,
        40
      ],
      "typeVersion": 2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Get the monthly search data from the \"Loop Over Google Keywords\" node\nconst loopData = $node[\"Loop Over YT Keywords\"].json;\nif (!loopData || !loopData.monthly_searches || !Array.isArray(loopData.monthly_searches)) {\n  throw new Error(\"monthly_searches data is missing or not an array from Loop Over YT Keywords node.\");\n}\nconst monthlySearches = loopData.monthly_searches;\n\n// Get all items from the \"Add Second Tier G Keyword Data\" node\nconst secondTierItems = $items(\"Add Second Tier YT Keyword Data\");\n\nif (!secondTierItems || secondTierItems.length === 0) {\n  throw new Error(\"No data found in Add Second Tier YT Keyword Data node.\");\n}\n\nconst results = [];\n\n// Loop through each second-tier item\nsecondTierItems.forEach(itemWrapper => {\n  const item = itemWrapper.json;\n  // Validate that the required properties exist on the second-tier item.\n  if (!item.keyword || item.Id === undefined) {\n    throw new Error(\"A second tier item is missing 'keyword' or 'Id'.\");\n  }\n  \n  // For each monthly search record, combine with the second-tier data\n  monthlySearches.forEach(record => {\n    // Validate that each monthly record has the required properties.\n    if (record.year === undefined || record.month === undefined || record.search_volume === undefined) {\n      throw new Error(\"A monthly search record is missing 'year', 'month', or 'search_volume'.\");\n    }\n    \n    results.push({\n      json: {\n        keyword: item.keyword,\n        google_keyword_id: item.Id,\n        year: record.year,\n        month: record.month,\n        search_volume: record.search_volume,\n        unique_id: `${record.year}-${record.month}-${item.keyword}`\n      }\n    });\n  });\n});\n\n// Chunk the results into batches of 1000 items each\nconst batchSize = 1000;\nconst batchedResults = [];\n\nfor (let i = 0; i < results.length; i += batchSize) {\n  // Create a batch containing up to batchSize items\n  const batchItems = results.slice(i, i + batchSize).map(item => item.json);\n  batchedResults.push({\n    json: {\n      batch: batchItems\n    }\n  });\n}\n\nreturn batchedResults;\n"
      },
      "id": "7d654cf7-1223-4f10-8026-997f5418402e",
      "name": "Format YT Data",
      "type": "n8n-nodes-base.code",
      "position": [
        3700,
        620
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.186:8080/api/v2/tables/ma51kvf78diz0sg/records",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "nocoDbApiToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.batch }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1000
            }
          }
        }
      },
      "id": "67848762-a140-4c63-b8ca-e20331135741",
      "name": "Bulk Import G Monthly Search Volume",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3920,
        40
      ],
      "retryOnFail": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.186:8080/api/v2/tables/ma51kvf78diz0sg/records",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "nocoDbApiToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.batch }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1000
            }
          }
        }
      },
      "id": "377b5470-9d9f-42e5-9528-fbf9fd3a1d77",
      "name": "Bulk Import YT Monthly Search Volume",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3960,
        620
      ],
      "retryOnFail": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Process and filter Keywords for monthly traffic and CPC",
        "height": 780,
        "width": 540
      },
      "id": "6939afbf-b463-44fb-ab0b-45cbe81648eb",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2060,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c4c4ed58-b14d-4973-93b2-4426fe314a2a",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.pageInfo.totalRows }}",
              "rightValue": 0
            }
          ]
        },
        "options": {}
      },
      "id": "6fdbd7c3-75ca-4ed4-a5aa-3718bee0786f",
      "name": "Is Google Keyword Available",
      "type": "n8n-nodes-base.if",
      "position": [
        3240,
        280
      ],
      "executeOnce": false,
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c4c4ed58-b14d-4973-93b2-4426fe314a2a",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.pageInfo.totalRows }}",
              "rightValue": 0
            }
          ]
        },
        "options": {}
      },
      "id": "f10d1313-fdfb-4f58-921d-65f307afab4e",
      "name": "Is YT Keyword Avaliable",
      "type": "n8n-nodes-base.if",
      "position": [
        3220,
        900
      ],
      "executeOnce": false,
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Add or update YouTube or Google Tables in NocoDB\n",
        "height": 1280,
        "width": 1560,
        "color": 4
      },
      "id": "c6c26129-fce0-4d98-a72a-662dcbc06ae0",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2600,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=http://192.168.1.186:8080/api/v2/tables/mjmbcomto18scyi/records?where=(keyword,eq,{{ $json.keyword }})",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "nocoDbApiToken",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1
            }
          }
        }
      },
      "id": "a3c0ed20-f696-4ca6-a6fb-872cab8fbba5",
      "name": "Check for Google Keyword",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3020,
        280
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=http://192.168.1.186:8080/api/v2/tables/m8bp2fnwtqsd2m7/records/?where=(keyword,eq,{{ $json.keyword }})",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "nocoDbApiToken",
        "options": {}
      },
      "id": "bb7cae83-8ff0-45d0-abca-d8d99efcfead",
      "name": "Check for YT Keyword",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2980,
        900
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "batchSize": 1000,
        "options": {}
      },
      "id": "e04d2f1c-45b6-4994-91a7-dc9f54a3fba8",
      "name": "Loop Over YT Keywords",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2740,
        880
      ],
      "executeOnce": false,
      "typeVersion": 3
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pbwiwe87uf1cpgc",
        "table": "mjmbcomto18scyi",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=keyword",
              "fieldValue": "={{ $('Split Out Google Search').item.json.keyword }}"
            },
            {
              "fieldName": "location_code",
              "fieldValue": "={{ $('Split Out Google Search').item.json.location_code }}"
            },
            {
              "fieldName": "language_code",
              "fieldValue": "={{ $('Split Out Google Search').item.json.language_code }}"
            },
            {
              "fieldName": "search_partners",
              "fieldValue": "={{ $('Split Out Google Search').item.json.search_partners }}"
            },
            {
              "fieldName": "competition",
              "fieldValue": "={{ $('Split Out Google Search').item.json.competition }}"
            },
            {
              "fieldName": "competition_index",
              "fieldValue": "={{ $('Split Out Google Search').item.json.competition_index }}"
            },
            {
              "fieldName": "cpc",
              "fieldValue": "={{ $('Split Out Google Search').item.json.cpc }}"
            },
            {
              "fieldName": "low_top_of_page_bid",
              "fieldValue": "={{ $('Split Out Google Search').item.json.low_top_of_page_bid }}"
            },
            {
              "fieldName": "high_top_of_page_bid",
              "fieldValue": "={{ $('Split Out Google Search').item.json.high_top_of_page_bid }}"
            },
            {
              "fieldName": "search_volume",
              "fieldValue": "={{ $('Split Out Google Search').item.json.search_volume }}"
            },
            {
              "fieldName": "id",
              "fieldValue": "={{ $json.list[0].Id }}"
            }
          ]
        }
      },
      "id": "452a67b4-d30c-4732-abc4-8b3513ec31f6",
      "name": "Update Second Tier G Keyword Data",
      "type": "n8n-nodes-base.nocoDb",
      "position": [
        3700,
        300
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pbwiwe87uf1cpgc",
        "table": "m8bp2fnwtqsd2m7",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=keyword",
              "fieldValue": "={{ $('Split Out YT Search').item.json.keyword }}"
            },
            {
              "fieldName": "location_code",
              "fieldValue": "={{ $('Split Out YT Search').item.json.location_code }}"
            },
            {
              "fieldName": "language_code",
              "fieldValue": "={{ $('Split Out YT Search').item.json.language_code }}"
            },
            {
              "fieldName": "search_partners",
              "fieldValue": "={{ $('Split Out YT Search').item.json.search_partners }}"
            },
            {
              "fieldName": "competition",
              "fieldValue": "={{ $('Split Out YT Search').item.json.competition }}"
            },
            {
              "fieldName": "competition_index",
              "fieldValue": "={{ $('Split Out YT Search').item.json.competition_index }}"
            },
            {
              "fieldName": "cpc",
              "fieldValue": "={{ $('Split Out YT Search').item.json.cpc }}"
            },
            {
              "fieldName": "low_top_of_page_bid",
              "fieldValue": "={{ $('Split Out YT Search').item.json.low_top_of_page_bid }}"
            },
            {
              "fieldName": "high_top_of_page_bid",
              "fieldValue": "={{ $('Split Out YT Search').item.json.high_top_of_page_bid }}"
            },
            {
              "fieldName": "search_volume",
              "fieldValue": "={{ $('Split Out YT Search').item.json.search_volume }}"
            },
            {
              "fieldName": "id",
              "fieldValue": "={{ $json.list[0].Id }}"
            }
          ]
        }
      },
      "id": "e50cc116-3b5b-4908-b0b6-8781360cb5f2",
      "name": "Update Second Tier YT Keyword Data",
      "type": "n8n-nodes-base.nocoDb",
      "position": [
        3480,
        920
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "batchSize": 1000,
        "options": {}
      },
      "id": "4ef57b89-913c-4e0e-8e60-675807ad6a5d",
      "name": "Loop Over Google Keywords",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2760,
        260
      ],
      "executeOnce": false,
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## Setup Instuctions: \n### Required: NocoDB, N8N, [DataforSEO Account *aff*](https://app.dataforseo.com/?aff=184401), and [Social Flood Docker Instance](https://github.com/rainmanjam/social-flood)\n### Tables for NocoDB\n-- Base Keyword Search (Keyword)\n-- Second Order Google Keywords( keyword, location_code, language_code, search_partners, competition, competition_index, search_volume, cpc, low_top_of_page, high_top_of_page)\n-- Second Order YouTube Keywords( keyword, location_code, language_code, search_partners, competition, competition_index, search_volume, cpc, low_top_of_page, high_top_of_page)\n-- Search Volume( unique_id, year, month, search_volume, youtube_keyword_id, google_keyword_id)\n",
        "height": 380,
        "width": 1060
      },
      "id": "94fbe48b-22bf-4a15-9ef0-423b1dab586a",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Gather all keywords from all items\nlet allKeywords = [];\n\nfor (const item of items) {\n  const keywordData = item.json.keyword_data;\n  const keywords = Object.values(keywordData)\n    .flatMap(section => Object.values(section))\n    .flat();\n\n  allKeywords = allKeywords.concat(keywords);\n}\n\n// Clean and transform the combined keywords\nconst cleanedKeywords = allKeywords\n  .filter(keyword => keyword.length <= 80)\n  .filter(keyword => keyword.split(\" \").length <= 10)\n  .map(keyword => keyword.replace(/[^a-zA-Z0-9\\s]/g, \"\"))\n  .map(keyword => keyword.trim())\n  .filter(keyword => keyword.length > 0)\n  .map(keyword => `\"${keyword}\"`);\n\n// Remove duplicates\nconst uniqueKeywords = Array.from(new Set(cleanedKeywords));\n\n// Split into batches of 1000\nconst batchSize = 1000;\nconst result = [];\n\nfor (let i = 0; i < uniqueKeywords.length; i += batchSize) {\n  result.push({\n    json: {\n      keywords: uniqueKeywords.slice(i, i + batchSize).join(\", \")\n    }\n  });\n}\n\n// Return as an array of objects\nreturn result;\n"
      },
      "id": "8429c63d-09e7-47ac-a11b-e5132d5ac832",
      "name": "Combine G Keywords and Filter",
      "type": "n8n-nodes-base.code",
      "position": [
        1620,
        440
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Gather all keywords from all items\nlet allKeywords = [];\n\nfor (const item of items) {\n  const keywordData = item.json.keyword_data;\n  const keywords = Object.values(keywordData)\n    .flatMap(section => Object.values(section))\n    .flat();\n\n  allKeywords = allKeywords.concat(keywords);\n}\n\n// Clean and transform the combined keywords\nconst cleanedKeywords = allKeywords\n  .filter(keyword => keyword.length <= 80)\n  .filter(keyword => keyword.split(\" \").length <= 10)\n  .map(keyword => keyword.replace(/[^a-zA-Z0-9\\s]/g, \"\"))\n  .map(keyword => keyword.trim())\n  .filter(keyword => keyword.length > 0)\n  .map(keyword => `\"${keyword}\"`);\n\n// Remove duplicates\nconst uniqueKeywords = Array.from(new Set(cleanedKeywords));\n\n// Split into batches of 1000\nconst batchSize = 1000;\nconst result = [];\n\nfor (let i = 0; i < uniqueKeywords.length; i += batchSize) {\n  result.push({\n    json: {\n      keywords: uniqueKeywords.slice(i, i + batchSize).join(\", \")\n    }\n  });\n}\n\n// Return as an array of objects\nreturn result;\n"
      },
      "id": "5aa39111-c1c1-440e-b0e8-ba5c54909a0d",
      "name": "Combine YT Keywords and Filter",
      "type": "n8n-nodes-base.code",
      "position": [
        1620,
        760
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "NocoDB": {
      "main": [
        [
          {
            "node": "Second Order YouTube Autocomplete Keywords",
            "type": "main",
            "index": 0
          },
          {
            "node": "Second Order Google Autocomplete Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gen Time": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Filter": {
      "main": [
        [
          {
            "node": "Loop Over YT Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format G Data": {
      "main": [
        [
          {
            "node": "Bulk Import G Monthly Search Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Filter": {
      "main": [
        [
          {
            "node": "Loop Over Google Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format YT Data": {
      "main": [
        [
          {
            "node": "Bulk Import YT Monthly Search Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gen Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out YT Search": {
      "main": [
        [
          {
            "node": "YT Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for YT Keyword": {
      "main": [
        [
          {
            "node": "Is YT Keyword Avaliable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search Volume": {
      "main": [
        [
          {
            "node": "Split Out Google Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over YT Keywords": {
      "main": [
        [],
        [
          {
            "node": "Check for YT Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Search Volume": {
      "main": [
        [
          {
            "node": "Split Out YT Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is YT Keyword Avaliable": {
      "main": [
        [
          {
            "node": "Add Second Tier YT Keyword Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Second Tier YT Keyword Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Google Search": {
      "main": [
        [
          {
            "node": "Google Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Google Keyword": {
      "main": [
        [
          {
            "node": "Is Google Keyword Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Google Keywords": {
      "main": [
        [],
        [
          {
            "node": "Check for Google Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Google Keyword Available": {
      "main": [
        [
          {
            "node": "Add Second Tier G Keyword Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Second Tier G Keyword Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine G Keywords and Filter": {
      "main": [
        [
          {
            "node": "Google Search Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Second Tier G Keyword Data": {
      "main": [
        [
          {
            "node": "Format G Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine YT Keywords and Filter": {
      "main": [
        [
          {
            "node": "YouTube Search Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Second Tier YT Keyword Data": {
      "main": [
        [
          {
            "node": "Format YT Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Second Tier G Keyword Data": {
      "main": [
        [
          {
            "node": "Loop Over Google Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Test workflow\u2019": {
      "main": [
        [
          {
            "node": "Gen Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Second Tier YT Keyword Data": {
      "main": [
        [
          {
            "node": "Loop Over YT Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bulk Import G Monthly Search Volume": {
      "main": [
        [
          {
            "node": "Loop Over Google Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bulk Import YT Monthly Search Volume": {
      "main": [
        [
          {
            "node": "Loop Over YT Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second Order Google Autocomplete Keywords": {
      "main": [
        [
          {
            "node": "Combine G Keywords and Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second Order YouTube Autocomplete Keywords": {
      "main": [
        [
          {
            "node": "Combine YT Keywords and Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "2884"
  },
  "pinData": {},
  "versionId": "1f70d539-78a6-4e9f-9dc5-b2e1233b996b",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-03-25T04:57:30.218Z",
      "updatedAt": "2025-03-25T04:57:30.218Z",
      "role": "workflow:owner",
      "workflowId": "lAZTTjva7BpXP0pS",
      "projectId": "QEiebo2x6YENAnrq",
      "project": {
        "createdAt": "2025-03-12T12:15:21.659Z",
        "updatedAt": "2025-03-15T14:25:50.674Z",
        "id": "QEiebo2x6YENAnrq",
        "name": "Joel Quinn Ebb-Wrightten <n8n.admin@virtualxperiencellc.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}