workflows/QLRBtb1ikIB7sQeR-voice-agent-data-to-pinecone.json
{
  "createdAt": "2025-03-13T17:51:26.541Z",
  "updatedAt": "2025-03-13T17:52:07.077Z",
  "id": "QLRBtb1ikIB7sQeR",
  "name": "Voice Agent + Data to Pinecone",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "c3781769-3755-4cb3-96f9-6a7c3a4be6bd",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        560,
        -40
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "772d6e40-79a9-4b4a-852f-cba840dee944",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        900,
        140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e3993c31-669e-4712-8418-a58342256c0f",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        640,
        260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d818d720-0841-45f2-af36-dd67ccd57810",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        -220
      ]
    },
    {
      "parameters": {
        "name": "projects",
        "description": "Retrieves information about our projects"
      },
      "id": "687619e0-8efa-4ef5-9943-5f54a737bb88",
      "name": "projects",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        680,
        -40
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {}
      },
      "id": "73440505-8060-42ab-b0b1-6e7fe323ae0a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        580,
        -220
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "49722672-55e9-4d87-895f-ba9b1d540315",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ebf529a2-973e-4024-92eb-3c1418c3c195",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        -220
      ],
      "webhookId": "49722672-55e9-4d87-895f-ba9b1d540315"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "projects"
        }
      },
      "id": "8f6696e7-145d-47f7-8761-f9cc3e715944",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        620,
        140
      ]
    },
    {
      "parameters": {},
      "id": "e09a7f48-17ec-4f87-a52a-6b2743bfc270",
      "name": "When clicking \u2018Test workflow\u2019",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1180,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "724f9fdd-99fb-4429-91eb-6dfa6a2ee6ef",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1940,
        500
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a92a68f2-f5dd-4139-9efa-833d7639ff0c",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1940,
        660
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ktz4snQ4PDpimiFc67rP58Qhtq3oqyrBE9iNNpwMCdM",
          "mode": "list",
          "cachedResultName": "Project Database",
          "cachedResultUrl": "https://docs.google.com/document/d/1ktz4snQ4PDpimiFc67rP58Qhtq3oqyrBE9iNNpwMCdM/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "f1645851-abdb-4137-95f8-0fe7a28a84ae",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1380,
        280
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "3d1582a3-fdd8-4d41-8245-8d6093512a8e",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1600,
        280
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "38fb5697-1d47-4538-8817-611a356836b4",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1780,
        520
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "ENTER_NAMESPACE_HERE"
        }
      },
      "id": "874b8608-9861-4094-ad3a-397de3f37133",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1840,
        280
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "projects",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "projects": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "projects",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Test workflow\u2019": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "fba3ef2a-a0b6-44b4-aacb-4a3fcaee3477",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-03-13T17:51:26.541Z",
      "updatedAt": "2025-03-13T17:51:26.541Z",
      "role": "workflow:owner",
      "workflowId": "QLRBtb1ikIB7sQeR",
      "projectId": "QEiebo2x6YENAnrq",
      "project": {
        "createdAt": "2025-03-12T12:15:21.659Z",
        "updatedAt": "2025-03-15T14:25:50.674Z",
        "id": "QEiebo2x6YENAnrq",
        "name": "Joel Quinn Ebb-Wrightten <n8n.admin@virtualxperiencellc.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}