workflows/QxhGd2Vdo2Zx0TmQ-agent-update-policy-kb.json
{
  "createdAt": "2025-06-22T18:20:03.360Z",
  "updatedAt": "2025-06-23T22:49:15.818Z",
  "id": "QxhGd2Vdo2Zx0TmQ",
  "name": "Agent - Update Policy KB",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "updatedPolicyText"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM \"lsi_gdrive_policies\"\nWHERE metadata->>'document_type' = 'policy_document';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        340
      ],
      "id": "09d7e237-4c01-4431-aedd-9ba8140ea621",
      "name": "Delete Previous Policy",
      "credentials": {
        "postgres": {
          "id": "P3tXVnG4nimxmM4P",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ { \"doc_text\": $('When Executed by Another Workflow').item.json.updatedPolicyText } }}\n",
        "options": {}
      },
      "id": "34da994e-9cfc-4731-b322-7159886f4413",
      "name": "Load Data",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        820,
        562.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "lsi_gdrive_policies",
        "options": {}
      },
      "id": "65b6bc4f-1139-4f3a-b357-7d271a17ac56",
      "name": "Save to Vector KnowledgeBase",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        716,
        340
      ],
      "typeVersion": 1.1,
      "credentials": {
        "postgres": {
          "id": "P3tXVnG4nimxmM4P",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "4cfad7d7-b6ba-4fdd-a484-31703b1cf48c",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        908,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        700,
        560
      ],
      "id": "92057b57-c0b3-45d0-9bbc-fc6d69ceaef2",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "xyK9CstPcAIDLFiL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Delete Previous Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Previous Policy": {
      "main": [
        [
          {
            "node": "Save to Vector KnowledgeBase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Data": {
      "ai_document": [
        [
          {
            "node": "Save to Vector KnowledgeBase",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Save to Vector KnowledgeBase": {
      "main": [
        []
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Load Data",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Save to Vector KnowledgeBase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "de2ccbb2-51ec-478c-98fc-d111c9f70ce9",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-06-19T23:39:52.053Z",
      "updatedAt": "2025-06-19T23:39:52.053Z",
      "id": "hqGuRJJPzE8JK1K2",
      "name": "Google Drive"
    }
  ],
  "shared": [
    {
      "createdAt": "2025-06-22T18:20:03.360Z",
      "updatedAt": "2025-06-22T18:20:03.360Z",
      "role": "workflow:owner",
      "workflowId": "QxhGd2Vdo2Zx0TmQ",
      "projectId": "QEiebo2x6YENAnrq",
      "project": {
        "createdAt": "2025-03-12T12:15:21.659Z",
        "updatedAt": "2025-03-15T14:25:50.674Z",
        "id": "QEiebo2x6YENAnrq",
        "name": "Joel Quinn Ebb-Wrightten <n8n.admin@virtualxperiencellc.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}